.demo-box-grid {
  background-color: #dddddd;
  border: 1px solid #aaaaaa;
  padding: 10px;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
textarea {
  resize: vertical;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.browsehappy {
  margin: 0;
  background: #ffea66;
  color: #111111;
  padding: 1em;
}
.browsehappy a {
  color: #ff4136;
  font-weight: bold;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}
h1 {
  display: inline-block;
  margin-right: auto;
  font-size: 52px;
  line-height: 44px;
  /*margin: 0; padding: 0;*/
  font-weight: normal;
  border-bottom: 2px solid #444;
  text-shadow: 2px 2px 0 #f5f5f5, -2px -2px 0 #f5f5f5, -2px 2px 0 #f5f5f5, 2px -2px 0 #f5f5f5;
}
h2 {
  font-size: 40px;
  /*margin: 0; padding: 0;*/
  font-weight: normal;
}
h3 {
  font-size: 28px;
  /*margin: 0; padding: 0;*/
  font-weight: normal;
  text-transform: uppercase;
}
h4 {
  font-size: 22px;
  /*margin: 0; padding: 0;*/
  font-weight: normal;
  text-transform: uppercase;
}
.wrapper-center {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.btn,
.btn-inset,
.btn-inline,
.btn-inline-inset {
  position: relative;
  padding: 10px 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #39cccc;
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 1;
}
.btn:before,
.btn-inset:before,
.btn-inline:before,
.btn-inline-inset:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background: #33bbbe;
  opacity: 0;
  border-radius: 100px;
  transition: all ease 0.2s;
  z-index: -1;
}
.btn:hover:before,
.btn-inset:hover:before,
.btn-inline:hover:before,
.btn-inline-inset:hover:before {
  top: -50%;
  left: 15%;
  width: 70%;
  height: 200%;
  opacity: 1;
}
.btn:active:before,
.btn-inset:active:before,
.btn-inline:active:before,
.btn-inline-inset:active:before,
.btn:focus:before,
.btn-inset:focus:before,
.btn-inline:focus:before,
.btn-inline-inset:focus:before {
  transition: all ease-in 0.1s;
  left: 0;
  width: 100%;
  border-radius: 0;
  background: #2ea9b0;
}
.btn-inset:before {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
}
.btn-inset:hover:before {
  left: 15%;
  width: 70%;
  border-radius: 1000px;
}
.btn-inset:active:before,
.btn-inset:focus:before {
  left: 0;
  width: 100%;
  border-radius: 0;
}
.btn-inline {
  color: #666;
  background: transparent;
}
.btn-inline:before {
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background: #eee;
  border-radius: 100px;
}
.btn-inline:hover:before {
  top: -50%;
  left: 15%;
  width: 70%;
  height: 200%;
}
.btn-inline:active:before,
.btn-inline:focus:before {
  left: 0;
  width: 100%;
  border-radius: 0;
  background: #ddd;
}
.btn-inline-inset {
  color: #666;
  background: transparent;
}
.btn-inline-inset:before {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  background: #eee;
  border-radius: 0;
}
.btn-inline-inset:hover:before {
  left: 15%;
  width: 70%;
  border-radius: 1000px;
}
.btn-inline-inset:active:before,
.btn-inline-inset:focus:before {
  left: 0;
  width: 100%;
  border-radius: 0;
  background: #ddd;
}
.btn.btn-warning {
  background: #ff4136;
}
.btn.btn-warning:before {
  background: #e7383a;
}
.btn.btn-warning:active:before,
.btn.btn-warning:focus:before {
  background: #ce2f3e;
}
label {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"] {
  padding: 9px 11px;
  border: 1px solid #bbb;
  outline: none;
  color: #777;
  background: #fff;
  font-size: 13px;
  line-height: 15px;
  width: 100%;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus {
  border: 1px solid #999;
  color: #444;
}
.form-login,
.form-password {
  position: relative;
}
.form-login input,
.form-password input {
  padding-left: 30px;
}
.form-login:before,
.form-password:before {
  position: absolute;
  top: 11px;
  left: 12px;
  color: #777;
  content: "\f023";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.form-login:before {
  content: "\f007";
}
.box-content {
  padding: 20px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.col-group {
  margin-bottom: 20px;
}
.col-group:before,
.col-group:after {
  content: " ";
  display: table;
}
.col-group:after {
  clear: both;
}
.lt-ie9 .col-group {
  zoom: 1;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.col-1 {
  width: 8.333%;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333%;
}
.col-11 {
  width: 91.666%;
}
.col-12 {
  width: 100%;
}
@media screen and (min-width: 80em) {
  .col-lg-1 {
    width: 8.333%;
  }
  .col-lg-2 {
    width: 16.666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333%;
  }
  .col-lg-5 {
    width: 41.666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333%;
  }
  .col-lg-8 {
    width: 66.666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333%;
  }
  .col-lg-11 {
    width: 91.666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (max-width: 64em) {
  .col-md-1 {
    width: 8.333%;
  }
  .col-md-2 {
    width: 16.666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333%;
  }
  .col-md-5 {
    width: 41.666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333%;
  }
  .col-md-8 {
    width: 66.666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-11 {
    width: 91.666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (max-width: 48em) {
  .col-sm-1 {
    width: 8.333%;
  }
  .col-sm-2 {
    width: 16.666%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333%;
  }
  .col-sm-5 {
    width: 41.666%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333%;
  }
  .col-sm-8 {
    width: 66.666%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333%;
  }
  .col-sm-11 {
    width: 91.666%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (max-width: 32.5em) {
  .col-xs-1 {
    width: 8.333%;
  }
  .col-xs-2 {
    width: 16.666%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.333%;
  }
  .col-xs-5 {
    width: 41.666%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.333%;
  }
  .col-xs-8 {
    width: 66.666%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.333%;
  }
  .col-xs-11 {
    width: 91.666%;
  }
  .col-xs-12 {
    width: 100%;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.lt-ie9 .clearfix {
  zoom: 1;
}
